{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="card" style="width: 15rem">
    <img
      src="https://yt3.ggpht.com/w-D9BnWUZsS49Q8K0Fn7CLjpL6AgLJxpSpCT4fRUcpNPGrthEkQlSv0Bjjp4yByvTytCoDrR3Q=s88-c-k-c0x00ffffff-no-rj"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">지냐 Jinyaa</h5>
      <p class="card-text">
        💄메이크업을 사랑하는 지냐입니다 ◡̈ 함께 수다 떨면서 같이 화장해요😶🤍
      </p>
      <a
        href="https://www.youtube.com/channel/UCRiIf6rt91BVfZVtURRXlOw"
        class="btn btn-primary"
        >Link</a
      >
    </div>
  </div>
</div>

{% endblock %}
