{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="card" style="width: 15rem">
    <img
      src="https://yt3.ggpht.com/ytc/AKedOLQ-u6RNHGwTuxjEd8pXxAST1s_XErVbBFr_7WnLiQ=s88-c-k-c0x00ffffff-no-rj"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">빠퀴</h5>
      <p class="card-text">1년 365일 덕질삼매경 박휘의 덕질채널 빠퀴</p>
      <a
        href="https://www.youtube.com/channel/UCRiIf6rt91BVfZVtURRXlOw"
        class="btn btn-primary"
        >Link</a
      >
    </div>
  </div>
</div>
{% endblock %}
