{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="card" style="width: 15rem">
    <img
      src="https://yt3.ggpht.com/ytc/AKedOLStTiz8zObLSwivhhQtMLaHvQm3JLWu5T3_T87K=s88-c-k-c0x00ffffff-no-rj"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">호두랑 마루랑 Duruduru</h5>
      <p class="card-text">
        👑호두, 마루가 디즈니의 캐릭터들처럼 오래 사랑받으며 꿈을 나누는 존재가
        되는 그날까지🚀 💛호두, 마루와 그들을 데려온 태정, 윤형이 함께 성장하는
        걸 기록하는 인생&견생 예능 채널입니다. 💛여러분이 호두마루 영상을 보고
        행복하면 좋겠어요!
      </p>
      <a
        href="https://www.youtube.com/channel/UCRiIf6rt91BVfZVtURRXlOw"
        class="btn btn-primary"
        >Link</a
      >
    </div>
  </div>
</div>
{% endblock %}
