{% extends 'base.html' %}
{%block content%}
<div class="card" style="width: 18rem;">
  <img src="https://yt3.ggpht.com/ytc/AKedOLRSwz9VCit6qhed9KC-0ilomq1qtY7VM9fMWZHx=s176-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">유튜버 우마</h5>
    <p class="card-text">구독자 97.3만</p>
    <a href="https://www.youtube.com/c/%EC%9A%B0%EB%A7%88UMA" class="btn btn-primary">우마 U.M.A</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://yt3.ggpht.com/O5ZQJwcVf6FIuO_Atiz7DEgtV-VDM0WeY5lpMFdPamuuHVcUUtvoHFzFc_Aw8r1rLp2kQewe1K0=s176-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">스낵타운</h5>
    <p class="card-text">구독자 18.6만명</p>
    <a href="https://www.youtube.com/channel/UClgQvJio7ylGa9kV9b7VzLQ" class="btn btn-primary">스낵타운</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://yt3.ggpht.com/ytc/AKedOLSiLNeP0lwshrXEamJ9XbEXbRsD4EcD-uEODnZE0w=s176-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">잇섭</h5>
    <p class="card-text">구독자 215만명</p>
    <a href="https://www.youtube.com/c/ITSUB%EC%9E%87%EC%84%AD" class="btn btn-primary">서울잇섭킹</a>
  </div>
</div>
{%endblock%}